[user]
	name = Joseph Lucas
	email = lucas.jojo@gmail.com

[merge]
        tool = pycharmmerge
[mergetool "pycharmmerge"]
        cmd = pycharm-community merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[diff]
        tool = pycharmdiff
[difftool "pycharmdiff"]
        cmd = pycharm-community diff "$LOCAL" "$REMOTE"